1_CNN_Pytorch_full_auto_trainer/(*
*.tiff
*.tif
*.csv
Trained ILASTIK model/Bergles_cell_tracking_ILASTIK_REDO.ilp
*.mat
*.png
*.h5
*.ilp
*.fig
Compare semi auto and Cody counts.pptx
*.pyc
check*.index
check*.data-00000-of-00001
check*.meta
*.npz
*.pkl
*.out
check_*

Oligo_Track/Checkpoints/*

1_CNN_training_and_testing_PYTHON/(3) Checkpoints_add_dropout/checkpoint
1_CNN_training_and_testing_PYTHON/(1) Checkpoints/1st_run_with_error_image/checkpoint
1_CNN_training_and_testing_PYTHON/(1) Checkpoints/checkpoint

1_CNN_training_and_testing_PYTHON/1) Checkpoints_no_ILASTIK_matched/
1_CNN_training_and_testing_PYTHON/2) Checkpoints_ILASTIK_matched/
1_CNN_training_and_testing_PYTHON/Training_on_C/
1_CNN_training_and_testing_PYTHON/Training_on_C_ILASTIK_matched/

1_CNN_training_and_testing_PYTHON/Checkpoints
1_CNN_training_and_testing_PYTHON/tensorflow
1_CNN_training_and_testing_PYTHON/Checkpoints_remove_spatial_weighting_at_67000/Attempt_2_good_until_80000/checkpoint
1_CNN_training_and_testing_PYTHON/Checkpoints_remove_spatial_weighting_at_67000/Attempt_1_continued_halfwat/checkpoint
1_CNN_training_and_testing_PYTHON/Checkpoints_remove_spatial_weighting_at_67000/checkpoint
*.blp
Train_tracking_data/Train_tracking_data_analytic_results_2/input_im/__attrs__
Train_tracking_data/Train_tracking_data_analytic_results/truth_im/meta/storage
Train_tracking_data/Train_tracking_data_analytic_results_2/input_im/meta/sizes
Train_tracking_data/Train_tracking_data_analytic_results/input_im/__attrs__
Train_tracking_data/Train_tracking_data_analytic_results/input_im/meta/sizes
Train_tracking_data/Train_tracking_data_analytic_results/input_im/meta/storage
Train_tracking_data/Train_tracking_data_analytic_results/truth_im/__attrs__
Train_tracking_data/Train_tracking_data_analytic_results/truth_im/meta/sizes
Train_tracking_data/Train_tracking_data_analytic_results_2/input_im/meta/storage
Train_tracking_data/Train_tracking_data_analytic_results_2/truth_im/__attrs__
Train_tracking_data/Train_tracking_data_analytic_results_2/truth_im/meta/sizes
Train_tracking_data/Train_tracking_data_analytic_results_2/truth_im/meta/storage
Train_match_ILASTIK/Train_matched/output_analytic_results_2/input_im/__attrs__
Train_match_ILASTIK/Train_matched/output_analytic_results_2/input_im/meta/sizes
Train_match_ILASTIK/Train_matched/output_analytic_results_2/input_im/meta/storage
Train_match_ILASTIK/Train_matched/output_analytic_results_2/truth_im/__attrs__
Train_match_ILASTIK/Train_matched/output_analytic_results_2/truth_im/meta/sizes
Train_match_ILASTIK/Train_matched/output_analytic_results_2/truth_im/meta/storage
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/input_im/__attrs__
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/input_im/meta/sizes
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/input_im/meta/storage
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/truth_im/__attrs__
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/truth_im/meta/sizes
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/truth_im/meta/storage
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/X_train/__attrs__
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/X_train/meta/sizes
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/X_train/meta/storage
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/X_valid/__attrs__
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/X_valid/meta/sizes
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/X_valid/meta/storage
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/y_train/__attrs__
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/y_train/meta/sizes
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/y_train/meta/storage
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/y_valid/__attrs__
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/y_valid/meta/sizes
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/y_valid/meta/storage
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/input_im/__attrs__
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/input_im/meta/sizes
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/input_im/meta/storage
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/truth_im/__attrs__
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/truth_im/meta/sizes
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/truth_im/meta/storage
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/X_train/__attrs__
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/X_train/meta/sizes
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/X_train/meta/storage
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/X_valid/__attrs__
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/X_valid/meta/sizes
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/X_valid/meta/storage
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/y_train/__attrs__
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/y_train/meta/sizes
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/y_train/meta/storage
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/y_valid/__attrs__
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/y_valid/meta/sizes
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/y_valid/meta/storage
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/input_im/__attrs__
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/input_im/meta/sizes
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/input_im/meta/storage
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/truth_im/__attrs__
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/truth_im/meta/sizes
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/truth_im/meta/storage
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/X_train/__attrs__
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/X_train/meta/sizes
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/X_train/meta/storage
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/X_valid/__attrs__
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/X_valid/meta/sizes
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/X_valid/meta/storage
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/y_train/__attrs__
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/y_train/meta/sizes
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/y_train/meta/storage
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/y_valid/__attrs__
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/y_valid/meta/sizes
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/y_valid/meta/storage
1_CNN_training_and_testing_PYTHON/(5) Checkpoints_REAL_UNET/checkpoint
1_CNN_training_and_testing_PYTHON/Checkpoints_small_UNet/Trained_CNN_check_120000.data-00000-of-00001
1_CNN_training_and_testing_PYTHON/Checkpoints_small_UNet/Trained_CNN_check_120000.index
1_CNN_training_and_testing_PYTHON/Checkpoints_small_UNet/Trained_CNN_check_120000.meta
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/std_VERIFIED.npy
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256_32/mean_VERIFIED.npy
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/std_VERIFIED.npy
Train_tracking_data/Train_tracking_data_quads_PYTORCH_256/mean_VERIFIED.npy
Train_tracking_data/Train_tracking_data_analytic_results_2/std_VERIFIED.npy
Train_tracking_data/Train_tracking_data_analytic_results_2/mean_VERIFIED.npy
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/std_VERIFIED.npy
Train_match_ILASTIK/Train_matched/Train_matched_quads_PYTORCH_256_64_MATCH_ILASTIK/mean_VERIFIED.npy
Train_match_ILASTIK/Train_matched/output_analytic_results_2/std_VERIFIED.npy
Train_match_ILASTIK/Train_matched/output_analytic_results_2/mean_VERIFIED.npy
1_CNN_training_and_testing_PYTHON/Y_val.npy
1_CNN_training_and_testing_PYTHON/Y_train.npy
1_CNN_training_and_testing_PYTHON/X_val.npy
1_CNN_training_and_testing_PYTHON/X_train.npy
1_CNN_training_and_testing_PYTHON/all_idx_low_sens_0_8.npy
1_CNN_training_and_testing_PYTHON/(5) Checkpoints_REAL_UNET/plot_sens_val.npy
1_CNN_training_and_testing_PYTHON/(5) Checkpoints_REAL_UNET/plot_sens.npy
1_CNN_training_and_testing_PYTHON/(5) Checkpoints_REAL_UNET/plot_prec_val.npy
1_CNN_training_and_testing_PYTHON/(5) Checkpoints_REAL_UNET/plot_prec.npy
1_CNN_training_and_testing_PYTHON/(5) Checkpoints_REAL_UNET/plot_jacc_val.npy
1_CNN_training_and_testing_PYTHON/(5) Checkpoints_REAL_UNET/plot_jacc.npy
1_CNN_training_and_testing_PYTHON/(5) Checkpoints_REAL_UNET/plot_cost_val.npy
1_CNN_training_and_testing_PYTHON/(5) Checkpoints_REAL_UNET/plot_cost.npy
1_CNN_training_and_testing_PYTHON/(4) Checkpoints_ILASTIK_matched/plot_sens_val.npy
1_CNN_training_and_testing_PYTHON/(4) Checkpoints_ILASTIK_matched/plot_sens.npy
1_CNN_training_and_testing_PYTHON/(4) Checkpoints_ILASTIK_matched/plot_prec_val.npy
1_CNN_training_and_testing_PYTHON/(4) Checkpoints_ILASTIK_matched/plot_prec.npy
1_CNN_training_and_testing_PYTHON/(4) Checkpoints_ILASTIK_matched/plot_jacc_val.npy
1_CNN_training_and_testing_PYTHON/(4) Checkpoints_ILASTIK_matched/plot_jacc.npy
1_CNN_training_and_testing_PYTHON/(4) Checkpoints_ILASTIK_matched/plot_cost_val.npy
1_CNN_training_and_testing_PYTHON/(4) Checkpoints_ILASTIK_matched/plot_cost.npy
1_CNN_inference_PYTORCH/(19) Checkpoints_TITAN_NO_transforms_AdamW_batch_norm_CLEAN_DATA/check_257091


1_CNN_inference_PYTORCH/(20) Checkpoints_PYTORCH_NO_transforms_AdamW_batch_norm_CLEAN_DATA/


/1_CNN_inference_PYTORCH/(21) Checkpoints_PYTORCH_NO_transforms_AdamW_batch_norm_CLEAN_DATA_LARGE_NETWORK/

